﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>

    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a id="logo" class="navbar-brand" asp-controller="Home" asp-action="Index">MessageBoard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item menu" id="home">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item menu" id="create">
                        <a class="nav-link" asp-controller="Home" asp-action="Create">Create new message</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Velkommen til Message Board</h1>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
