﻿@model MessageBoardApp.Models.PostViewModel
@{
    ViewBag.Title = "Message Board - Create";
}

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-horizontal">
        <h4>Post New Message</h4>
        <div class="form-group">
            <label asp-for="Category.CategoryId" class="col-md-2 control-label">Category</label>
            <select class="form-control" asp-for="Category.CategoryId"
                    asp-items="@(new SelectList(Model.Categories,"CategoryId","Name"))"></select>
            <label asp-for="Title" class="col-md-2 control-label">Title</label>
            <input asp-for="Title" class="form-control" />
            <label asp-for="Content" class="col-md-2 control-label">Message</label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <label asp-for="Author.Name" class="col-md-2 control-label">Author</label>
            <input asp-for="Author.Name" class="form-control" />

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
