﻿@model MessageBoardRepository.DomainModels.Post
@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.Title</h3>
    </div>
    <div class="card-body">
        <p>
            <b>Category: @Model.Category.Name</b>
        </p>
        <p>
            @Model.Content
        </p>
    </div>
    <div class="card-footer">
        <i>Writting @Model.Date.ToShortDateString() by @Model.Author.Name</i>
    </div>
</div>