﻿@model IEnumerable<MessageBoardRepository.DomainModels.Post>
@{
    ViewBag.Title = "Message Board - Home";
}

<a asp-action="Create">Create New Message</a>
<table id="post-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Title
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th>
                Category
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Author
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Date Posted
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Post post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Category.Name</td>
                <td>@post.Author.Name</td>
                <td>@post.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@post.PostId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#post-table').DataTable();
    });
</script>